html, body
{
	margin: 0;
	padding: 0;
	overflow: hidden;
	background: #3C3C3C;
	color: #3C3C3C;
	font-family: Helvetica, Arial, sans-serif;
}

h1
{
	font-weight: normal;
}

p
{
	line-height: 1.8 rem;
}

#cursorglow
{
	position: fixed;
	display: none;
	width: 5px;
	height: 5px;
	border-radius: 50px;
	background-color: #381C85;
	box-shadow: 0px 0px 50px 50px #381C85;
	z-index: 5;
}

#page-wrapper
{
	width: 875px;
	margin: 3rem auto;
	padding: 1.5 rem;
	background: #E8E8E8;
	border-top: 5px solid #855DF4;
	box-shadow: 0 2px 10px rgba(0,0,0,0.8);
}

#synth-pad
{
	float: left;
	width: 500px;
	height: 500px;
	background: #18171C url(synthbg.png);
	z-index: 0;
}

#synth-pad:hover
{
	cursor: crosshair;
}

#info
{
	margin-left: 500px;
	padding-left: 2rem;
	padding-top: 1rem;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	z-index: 10;
}

.clearfix
{
	*zoom: 1;
}

.clearfix:before, .clearfix:after
{
	display: table;
	line-height: 0;
	content: "";
}

.clearfix:after
{
	clear: both;
}
